{%extends 'base.html'%}

{%block content%}

<div class="row">
    <div class="col-6">
        <h4 class="mt-3">Edit Video Note</h4>
        <form method="POST" id="video_note_form" class="mb-3">
            {{ form.hidden_tag() }}
            {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label(class_='form-label') }}
                {{ field(class_='form-control') }}

            </p>
            {% endfor %}
            <button class="btn btn-success">Edit Note</button>
        </form>
    </div>
</div>

{%endblock%}