{%extends 'base.html'%}

{%block content%}
<h1>{{user.username}} Training Notes</h1>

<div class="row">
    <div class="col-6">
        <h4 class="mt-3">Add a Note</h4>
        <form method="POST" id="training_note_form" class="mb-3">
            {{ form.hidden_tag() }}
            {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label(class_='form-label') }}
                {{ field(class_='form-control') }}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-success">Add Note</button>
        </form>
        {%for note in user.training_notes%}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <p class="card-text">{{note.content}}</p>
                        <p class="card-text"><small class="text-muted">{{note.date.strftime('%B %d %Y')}}</small></p>
                    </div>
                    <div class="col-2">
                        <form class="inline" method="POST" action="/notes/{{ note.id }}/delete">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}